// colors
$primary: #16181f;
$secondary: #f3bb93;
$terciary: #6f727b;

$secondary-light: #fefaf7;
$terciary-light: #bfc1c8;

// breakpoints
$md: 767px;
$lg: 991px;

// fonts
$muli: 'Mulish', sans-serif;
$play: 'Playfair Display', serif;

// container
$max: 1350px;